body {
	margin: 0;
	color:#E1E1E1;
}

/* header container styles start */
.logo img{
	width: 10rem;
}
.logo{
	display: flex;
	align-items: center;
}
.cities{
	border: none;
}
.navigation-pcontainer > ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.navigation-pcontainer li{
	position: relative;
	list-style: none;
	text-decoration: none;
	margin: 10px;
	background-color: #82a137;
	box-shadow: 1px 5px 18px -5px black;
}
.navigation-pcontainer li ul{
	display: none;
	position: absolute;
	min-width: 124px;
	z-index: 10;
}
.navigation-pcontainer li > ul li{
	border-bottom: 1px solid white;
}
.navigation-pcontainer li a{
	text-decoration: none;
	color: white;
	padding: 5px;
}
.navigation-pcontainer li:hover{
	transition: 0.3s;
	color: white;
	box-shadow: 1px 5px 18px -5px black;

}
.navigation-pcontainer li > ul{
	background-color: #82a137;
	padding: 10px;
}
.navigation-pcontainer li:hover > ul{
	display: block;
}
header{
	background-color: #e1e1e1;
}
.carousel-item{
	position: relative;
}
.pslider-discription{
	display: flex;
	justify-content: center;
}
.pslider-discription p{
	position: absolute;
  top: 110px;
  letter-spacing: 3px;
  font-size: 70px;
	color: white;
}
.mainnav-pcontainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-pcontainer{
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 5px;
	background-color: #e1e1e1;
	margin-bottom: 2px;
}
.logo a, .social a{
  color: black;
  text-decoration: none;
	color: white;
	padding: 5px;
	padding-top: 0;
  padding-bottom: 0
}
.social a:hover{
	text-decoration: none;
	list-style: none;
	color: white;
	box-shadow: 1px 5px 18px -5px black;
}
.logo a:hover{
	text-decoration: none;
	list-style: none;
	color: white;
}
.social ul{
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}
.social li {
  list-style: none;
	text-decoration: none;
	margin: 10px;
}
.social li:first-child{
	background-color: #4267B2;
}
.social li:nth-child(2){
	background-color: #1DA1F2;
}
.social li:nth-child(3){
	background-color: #E13E61;
}
.nav-item{
	padding-right: 45px;
}
.nav-link{
	color: black;
}
.carousel-inner{
	height: 23rem;
}
/* header container styles end */

/* main menu styles */

.burger {
  border: none;
  background: none;
  display: none;
	width: 100%;
	background-color: #282828;
	font-size: 30px;
}
span.bar {
  background-color: white;
  margin: 6px 5px;
  border-radius: 15px;
  width: 30px;
  height: 5px;
  display: block;
}
.dws-menu *{
	margin: 0;
	padding: 0;
}

.dws-menu > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	width: 100%;
	background-color: #282828;
}
.dws-menu > ul li:hover {
	background-color: #82a137;
	transition: 0,3s;
}
.dws-menu > ul li a {
	display: block;
	padding: 15px 30px 15px 40px;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	color: white;
}
.dws-menu li > ul li ul{
	position: absolute;
	right: -150px;
	top: 0;
}
.dws-menu > ul li {
	position: relative;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
/* .dws-menu > ul li:first-child{
	border-left: 1px solid white;
}
.dws-menu > ul li:last-child{
	border-right: 1px solid white;
} */
.dws-menu li ul{
	position: absolute;
	list-style: none;
	min-width: 150px;
	display: none;
	background-color: #282828;
}
.dws-menu li > ul li {
	border-bottom: 1px solid white;
}
.dws-menu li > ul li a{
	padding-left: 9px;
	text-transform: none;
}
.dws-menu li:hover > ul{
	display: block;
}
/* footer */

footer {
	font-size: 10px;
}
.vfootercontainer1, .vfootercontainer2, .vfootercontainer3 {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.vfbcontainer, .vcontactcontainer {
	width: 50%;
}

.vfootercontainer1 {
	display: flex;
	flex-direction: column;
	background-color: #e1e1e1;
}

.vfootercontainer2 {
	display: flex;
	background-color: #a50e0e;
}

.vfooterlogo, .vfootertitle {
	width: 50%;
}

.vfootermenu {
	width: 100%;
}

.vfootermenucontainer {
	width: 100%;
	height: 90%;
	display: flex;

}

.vcounterp, .vnews {
	background-color: white;
}

.vphoneorder {
	color: #333;
	font-size: 4em;
	font-weight: bold;
}

.vphoneorderlabel {
	background-color: #333;
	color: white;
	font-size: 2em;
	margin-bottom: 0;
	margin-top: 16px;
	padding-right: 10px;
	width: 300px;
	text-align: right;
}

.vcounterp {
	font-size: 3em;
	font-weight: 400;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 16px;
}

.vcounterp span {
	color: #a50e0e;
	font-weight: 700;
}

.vemaillabel {
	font-weight: 400;
	font-size: 1.8em;
	padding-left: 15px;
}

.vemail {
	width: 40%;
	font-size: 1.5em;
}

.vphone {
	padding-left: 15px;
	float: right;
}

.vnews {
	padding-bottom: 5px;
	padding-top: 10px;
}

.vmenulist {
	display: flex;
	margin: 0;
	padding: 10px 0 10px 5px;
}

.vmenulist li {
	width: 80px;
	list-style: none;
	text-decoration: underline;
}

.vmenulist a {
	color: #333;
	font-size: 1.5em;
}

.vmenulist:hover a {
	color: #333;
}

.vmenulist:hover li {
	text-decoration: none;
}

iframe {
	margin-top: 16px;
	margin-bottom: 11px;
	background-color: white;
	width: 90%;
}

.fa-utensils, .fa-clock {
	font-size: 10em;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.vtryfont {
	font-family: 'Painting With Chocolate';
	font-size: 6em;
	color: white;
	margin: 0;
}

.vfooterlogo, .vfootertitle {
	display: flex;
}

.vfootercontainer3 {
	background-color: #333;
	color: white;
}

.vfootercontainer3 p {
	margin: 0;
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#mediumframe {
	display: none;
}

#smallframe {
	display: none;
}

.vsubmit {
	font-size: 1.5em;
	font-weight: 900;
	margin-bottom: -4.5px;
	margin-left: -4px;
	background-color: black;
	border-color: black;
	color: white;
}


#extrasmallframe {
	display: none;
}


/* products */

.vmenucontainer {
	padding-right: 50px;
}

.vitemmenulist {
	display: flex;
	flex-wrap: wrap;
}

.vitemmenulist img {
	width: 300px;
	height: 300px;
}

.vitemmenulist li {
	width: 300px;
	border: solid 1px #e1e1e1;
	border-radius: 12px;
	margin-top: 20px;
	padding-bottom: 10px;
	text-decoration: none;
	list-style: none;
	margin-left: 10px;
	box-shadow: 10px 5px #333;
}

.vitemtitle, .vitemdescription, .vitemprice {
	text-align: center;
}

.vitembtn {
	margin-left: 30%;
	color: white;
	background-color: #333;
	border: none;
	padding: 5px 20px;
}

.vitembtn:hover {
	background-color: rgba(51, 51, 51, 0.7);
}

.vleftsidebar {
	width: 700px;
	height: 236px;
	margin-left: 50px;
	margin-top: 20px;
	border: solid 1px #e1e1e1;
	border-radius: 12px;
	border-bottom-color: #82a137;
	border-right-color: #82a137;
	text-align: center;
	padding-top: 10px;
}

.bottom-pcontainer {
	display: flex;
}

.vitemprice span {
	color: #82a137;
	font-size: 25px;
}

.vsearchbtn {
	color: white;
	background-color: #82a137;
	border-color: #82a137;
	margin-left: -4px;
}

.vcarttitle {
	background-color: #82a137;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px 35px 0 35px;
}

.vcartcontent {
	background-color: #e1e1e1;
	margin: 0 35px;
	padding: 20px 0;
}
