body {
	margin: 0;
	color:#E1E1E1;
}

/* header container styles start */
.logo img{
	width: 10rem;
}
.logo{
	display: flex;
	align-items: center;
}
.cities{
	border: none;
}
.collapse li{
	position: relative;
	list-style: none;
	text-decoration: none;
	z-index: 20;
}
.collapse li ul{
	display: none;
	position: absolute;
	padding-left: 10px;
}
.collapse li a{
	text-decoration: none;
	color: black;
}
.nav-item:hover>ul{
	display: block;
	width: 74%;
	background-color: #82a137;
	color: white;
}
.nav-link:hover,
.collapse li a:hover{
	background-color: #82a137;
	transition: 0.3s;
	color: white;
	box-shadow: 1px 5px 18px -5px black;

}
header{
	background-color: #e1e1e1;
}
.bottom-pcontainer{
	background-color: #e1e1e1;
}
.mainnav-pcontainer{
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
.header-pcontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 5px;
	background-color: #e1e1e1;
	margin-bottom: 2px;
}
.logo a, .social a{
  color: black;
  text-decoration: none;
	color: white;
	padding: 5px;
	padding-top: 0;
  padding-bottom: 0
}
.social a:hover{
	text-decoration: none;
	list-style: none;
	color: white;
	box-shadow: 1px 5px 18px -5px black;
}
.logo a:hover{
	text-decoration: none;
	list-style: none;
	color: white;
}
.social ul{
	display: flex;
	justify-content: center;
}
.social li {
  list-style: none;
	text-decoration: none;
	margin: 10px;
}
.social li:first-child{
	background-color: #4267B2;
}
.social li:nth-child(2){
	background-color: #1DA1F2;
}
.social li:nth-child(3){
	background-color: #E13E61;
}
.nav-item{
	padding-right: 45px;
}
.nav-link{
	color: black;
}
/* header container styles end */
.carousel-inner{
	height: 25rem;
}

/* footer */

footer {
	font-size: 10px;
}
.vfootercontainer1, .vfootercontainer2, .vfootercontainer3 {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
}

.vfbcontainer, .vcontactcontainer {
	width: 50%;
}

.vfootercontainer1 {
	display: flex;
	flex-direction: column;
	background-color: #e1e1e1;
}

.vfootercontainer2 {
	display: flex;
	background-color: #a50e0e;
}

.vfooterlogo, .vfootertitle {
	width: 50%;
}

.vfootermenu {
	width: 100%;
}

.vfootermenucontainer {
	width: 100%;
	height: 90%;
	display: flex;

}

.vcounterp, .vnews {
	background-color: white;
}

.vphoneorder {
	color: #333;
	font-size: 4em;
	font-weight: bold;
}

.vphoneorderlabel {
	background-color: #333;
	color: white;
	font-size: 2em;
	margin-bottom: 0;
	margin-top: 16px;
	padding-right: 10px;
	width: 300px;
	text-align: right;
}

.vcounterp {
	font-size: 3em;
	font-weight: 400;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 16px;
}

.vcounterp span {
	color: #a50e0e;
	font-weight: 700;
}

.vemaillabel {
	font-weight: 400;
	font-size: 1.8em;
	padding-left: 15px;
}

.vemail {
	width: 40%;
	font-size: 1.5em;
}

.vphone {
	padding-left: 15px;
	float: right;
}

.vnews {
	padding-bottom: 5px;
	padding-top: 10px;
}

.vmenulist {
	display: flex;
	margin: 0;
	padding: 10px 0 10px 5px;
}

.vmenulist li {
	width: 80px;
	list-style: none;
	text-decoration: underline;
}

.vmenulist a {
	color: #333;
	font-size: 1.5em;
}

.vmenulist:hover a {
	color: #333;
}

.vmenulist:hover li {
	text-decoration: none;
}

iframe {
	margin-top: 16px;
	margin-bottom: 11px;
	background-color: white;
	width: 90%;
}

.fa-utensils, .fa-clock {
	font-size: 10em;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.vtryfont {
	font-family: 'Painting With Chocolate';
	font-size: 6em;
	color: white;
	margin: 0;
}

.vfooterlogo, .vfootertitle {
	display: flex;
}

.vfootercontainer3 {
	background-color: #333;
	color: white;
}

.vfootercontainer3 p {
	margin: 0;
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
}

#mediumframe {
	display: none;
}

#smallframe {
	display: none;
}

.vsubmit {
	font-size: 2.8em;
	font-weight: 900;
	margin-bottom: -4.5px;
	margin-left: -4px;
}


#extrasmallframe {
	display: none;
}
