body {
	margin: 0;
}
.vfootercontainer1, .vfootercontainer2, .vfootercontainer3 {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	height: 200px;
}

.vfbcontainer, .vcontactcontainer {
	width: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	height: 200px;
}

.vfootercontainer1, .vfootercontainer2 {
	display: flex;
}

.vfooterlogo, .vfootertitle {
	width: 50%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	height: 200px;
}

