@media screen and (max-width: 1300px){
	.carousel-inner{
		height: 12rem;
	}
	.burger {
    display: block;
    cursor: pointer;
    /* padding: 10px;
    height: 50%; */
 	}
	
	.dws-menu{
		display: none;
	}

	.open{
		display: block;
	}
	
	.navigation-pcontainer > ul{
		display: flex;
		flex-direction: column;
		padding-left: 0;
		font-size: 25px;
	}

	.dws-menu ul{
		display: flex;
		flex-direction: column;
	}
	.dws-menu li > ul li{
		right: -160px;
		top: 0;
		z-index: 10;
	}
}

@media screen and (max-width: 1024px) {

	footer {
		font-size: 7px;
	}

	.vphoneorderlabel {
		width: 210px;
	}

	#largeframe {
		display: none;
	}

	#mediumframe {
		display: block;
	}

	.vsubmit {
		font-size: 21px;
		margin-bottom: -4px;
	}

	.vcartcontent, .vcarttitle {
		margin-left: 10px;
		margin-right: 10px;
	}

	.vleftsidebar {
		width: 800px;
	}
}

@media screen and (max-width: 800px) {
	footer {
		font-size: 5.5px;
	}

	.vphoneorderlabel {
		width: 165px;
	}

	#mediumframe {
		display: none;
	}

	#smallframe {
		display: block;
	}

	.vsubmit {
		font-size: 18px;
		margin-bottom: -3.5px;
	}

	.vitemmenulist img {
		width: 200px;
		height: 200px;
	}

	.vitemmenulist li {
		width: 200px;
	}

	.vitembtn {
		margin-left: 20%;
	}
}

@media screen and (max-width: 768px) {
	#extrasmallframe {
		display: block;
		margin-bottom: 0;
		width: auto;
		margin-left: 30%;
	}

	#smallframe {
		display: none;
	}

	#vtestcont2 {
		display: flex !important;
		flex-direction: column !important;
		text-align: center;
	}

	#vtestcont {
		display: flex !important;
		flex-direction: column !important;
	}

	.vfbcontainer, .vcontactcontainer, .vfooterlogo, .vfootertitle {
		width: 100%;
		text-align: center;
	}

	.vfootercontainer1, .vfootercontainer2, .vfootercontainer3 {
		padding-right: 0;
		padding-left: 0;
	}

	.vphone {
		float: none;
		padding: 0;
	}

	.vphoneorderlabel {
		width: 100%;
		text-align: center;
	}

	.vfooterlogo, .vfootertitle {
		justify-content: center;
	}

	.bottom-pcontainer {
		flex-direction: column;
	}

	.vleftsidebar {
		margin-left: 0;
		width: 100%;
	}

	.vitemmenulist {
		justify-content: space-between;
		padding-left: 0;
		padding-right: 0;
	}

	.vmenucontainer {
		padding-right: 10px;
	}

}

@media screen and (max-width: 500px) {
	#extrasmallframe {
		margin-left: 20%;
	}
}

@media screen and (max-width: 450px) {
	#extrasmallframe {
		margin-left: 15%;
}

@media screen and (max-width: 400px) {
	#extrasmallframe {
		margin-left: 10%;
}

@media screen and (max-width: 370px) {
	#extrasmallframe {
		margin-left: 5%;
}
