@media screen and (max-width: 1300px){


	.pslider-discription p{
		font-size: 35px;
		top: 70px;
		display: flex;
		justify-content: center;

	}
	.carousel-inner{
		height: 12rem;
	}
	.burger {
    display: block;
    cursor: pointer;
    /* padding: 10px;
    height: 50%; */
 	}
	span.bar{
		width: 50px;
    height: 8px;
	}
	.dws-menu{
		display: none;
	}
	.open{
		display: block;
	}
	.navigation-pcontainer{
		display: flex;
		flex-direction: column;
	}
	.navigation-pcontainer > ul{
		display: flex;
	  flex-direction: column-reverse;
	  padding-left: 0;
	  font-size: 20px
	}

	.dws-menu ul{
		display: flex;
		flex-direction: column;
	}

	.dws-menu li > ul li{
		right: -120px;
		top: 0;
		z-index: 10;
		background-color: #282828;
	}

	.dws-menu > ul li a{
		padding: 15px 30px 15px 10px;
		font-size: 20px;
	}
	.vitemmenulist li{
		width: 200px;
	}

  .vitemmenulist img {
    width: 200px;
    height: 200px;
}
.vitembtn{
	margin-left: 35px;
}

@media screen and (max-width: 1024px) {

	footer {
		font-size: 7px;
	}

	.vphoneorderlabel {
		width: 210px;
	}

	#largeframe {
		display: none;
	}

	#mediumframe {
		display: block;
	}

	.vcartcontent, .vcarttitle {
		margin-left: 10px;
		margin-right: 10px;
	}

	.vleftsidebar {
		width: 25%
	}
}

@media screen and (max-width: 800px) {
	footer {
		font-size: 7px;
	}

	.vphoneorderlabel {
		width: 210px;
	}

	#mediumframe {
		display: none;
	}

	#smallframe {
		display: block;
	}

	.vitemmenulist img {
		width: 200px;
		height: 200px;
	}

	.vitemmenulist li {
		width: 200px;
	}

	.vitembtn {
		margin-left: 20%;
	}

	.vleftsidebar {
		width: 200px !important;
	}

	.vsearchinput {
		width: 154px;
	}
}

@media screen and (max-width: 768px) {
	#extrasmallframe {
		display: block;
		margin-bottom: 0;
		width: auto;
		margin: 16px auto;
	}

	footer {
		font-size: 8px;
	}

	#smallframe {
		display: none;
	}

	#vtestcont2 {
		display: flex !important;
		flex-direction: column !important;
		text-align: center;
	}

	#vtestcont {
		display: flex !important;
		flex-direction: column !important;
	}

	.vfbcontainer, .vcontactcontainer, .vfooterlogo, .vfootertitle {
		width: 100%;
		text-align: center;
	}

	.vfootercontainer1, .vfootercontainer2, .vfootercontainer3 {
		padding-right: 0;
		padding-left: 0;
	}

	.vphone {
		float: none;
		padding: 0;
	}

	.vphoneorderlabel {
		width: 100%;
		text-align: center;
	}

	.vfooterlogo, .vfootertitle {
		justify-content: center;
	}

	.bottom-pcontainer {
		flex-direction: column;
	}

	.vmenucontainer {
		order: 1;
		width: 100%;
	}

	.vleft {
		order: 2;
	}

	.vleftsidebar {
		margin-left: 0;
		width: 100% !important;
	}

	.pleft-side {
		margin-left: 0;
		height: 100px;
	}

	.vitemmenulist {
		justify-content: space-between;
		padding-left: 0;
		padding-right: 0;
	}

	.vmenucontainer {
		padding-right: 10px;
	}

}

@media screen and (max-width: 411px) {
	.vtryfont {
		font-size: 4em;
	}

	.vitemmenulist img {
		width: 160px;
		height: 160px;
	}

	.vitemmenulist li {
		width: 160px;
		margin-left: 0;
	}

	.vitembtn {
		margin-left: 11%;
	}

	.vitemdescription {
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	.header-pcontainer {
		margin-left: 0;
		margin-right: 0;
		align-items: center;
	}

	.mainnav-pcontainer ul {
		justify-content: space-around;
	}
}
